.registerForm {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  padding: 40px 60px;

  background: linear-gradient(135deg, #c73c45 50%, #e26068 50%);

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registerForm input {
  width: 300px;
  border: none;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-family: "roboto";
  border-radius: 10px;
  font-weight: 500;
}
.registerForm label {
  color: white;
  font-size: 16px;
  font-family: "roboto";
}
.company {
  position: relative;
}
.registerForm button {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
