.header {
  display: flex;
  width: 100%;
  padding: 30px 0px 20px 0px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.table {
  width: 1480px;
  height: 90%;
  overflow: scroll;
  overflow-x: scroll;
}
.container {
  width: 100%;
  height: 730px;
  padding: 0px 50px;
}
h1 {
  font-family: "roboto";
}
.option {
  display: flex;
  align-items: center;
  gap: 10px;
}
.addimg {
  transform: rotate(45deg);
}
.option1,
.option2 {
  display: flex;
  padding: 10px 20px;
  background-color: #e7e6e6;
  border-radius: 8px;
  font-family: "roboto";
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tablefooter {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: end;
  padding: 5px 10px;
  gap: 10px;
  font-family: "roboto";
  font-size: 14px;
  margin-top: 8px;
}
.gg {
  transform: rotate(180deg);
}
.search {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding: 2px 10px;
}
.search .input {
  width: 100%;
  height: 30px;
  outline: none;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}
.search .input::placeholder {
  color: #7e7e7e;
  font-family: "roboto";
}
.down {
  width: 10px;
  height: 10px;
}
.filter {
  display: flex;
  gap: 20px;
}
.filters {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(180, 180, 180);
  padding: 2px 20px;
  border-radius: 10px;
  font-family: "roboto";
}
.filters p {
  font-size: 14px;
  color: rgb(71, 69, 69);
}
.tableheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 20px 0px 20px;
}
.useradj {
  display: flex;
  gap: 20px;
  align-items: center;
}
.useradj p {
  font-family: "roboto";
  /* border: 1px solid #fd6868; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  background-color: #7e7e7e;
  height: 100%;
  transition: 0.6s;
  padding: 2px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.useradj p:hover {
  border: 1px solid #fd6868;
  background-color: white;
  color: black;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 0px;
}
.adduser {
  background-color: #fd6868;
  color: white;
  font-family: "roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 100%;
  padding: 2px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tablebody {
  border: 1px solid #eeeeee;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 100%;
  border-radius: 15px;
}
.columnheader {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-self: center;
}
th {
  min-width: 200px;
  max-width: 200px;
}

table tbody tr {
  height: 50px;
}
.customtbody tr {
  height: 50px;
}
